<br/><br/><br/>




	<!--Image Book Now starts here-->
	<div class="container"><!--Div for Container-->		
		<div class="col-md-7">	
			<div class="tile">


				<ul class="nav nav-tabs" id="myTab">
				  <h4><%= @space_detail.city %> | <%= @space_detail.state %></h4>
				  <li class="active"><a href="#pic" data-toggle="tab">Picture</a></li>
				  <li><a href="#gmap" data-toggle="tab">Map</a></li>
				  <li><a href="#gstreet" data-toggle="tab">Stree View</a></li>
				  
				</ul>

				<div class="tab-content">
				  <div class="tab-pane active" id="pic">
					<%= image_tag @space_detail.image.url ,:height=>"600",:width=>"600" %><br />
					<!--<img src="http://placehold.it/600x600"><br>-->
				  </div> <!--/PICTURE-->
				  <div class="tab-pane" id="gmap">
				  	
				  	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x600&sensor=false&zoom=16&markers=#{@space_detail.latitude}%2C#{@space_detail.longitude}" %>
				  </div><!--/GOOGLE MAP-->
				  <div class="tab-pane" id="gstreet">
				  	
				  	<iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7055+Hollister+Street,+Houston,+TX&amp;aq=0&amp;oq=7055+Hollister+St&amp;sll=37.37089,-121.967552&amp;sspn=0.239013,0.504341&amp;ie=UTF8&amp;hq=&amp;hnear=7055+Hollister+Rd,+Houston,+Texas+77040&amp;ll=29.862346,-95.50593&amp;spn=0.008151,0.015761&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=29.862858,-95.506315&amp;panoid=tKiEjlJhlG9iJP62ets0bg&amp;cbp=12,245.58,,0,9.5&amp;output=svembed"></iframe>
				  </div><!--STREET VIEW -->
				  
				</div>

				<script>
				  $(function () {
				    $('#myTab a:first').tab('show')
				  })
				</script>

			</div>
		</div>

	    <div class="col-md-5">
	      <div class="tile">
	        <h4>Details</h4> 
	      </div>
			<table class="table"> 
		        <tbody>  
		          <tr>  
		            <td>Area:</td>  
		            <td><%= @space_detail.area %> Sq. Ft.</td>
		            <td></td>  
		          </tr>

		          <tr>  
		            <td>Price:</td>  
		            <td>$ <%= @space_detail.price %>.00 </td>
		            <td></td>
		          </tr> 

		          <tr>  
		            <td>Address:</td>  
		            <td><%= @space_detail.address1 %>, <%= @space_detail.address2 %><br/><%= @space_detail.city %>, <%= @space_detail.state %>-<%= @space_detail.zipcode %></td>
		            <td></td> 
		          </tr>
 				<form action="/line_items/create/<%= @space_detail.id %>" method="post">
		          <tr> 
		            <td>Book For</td>  
		            <td>
		            	
		            	  
		            	
		            	<select class = "form-control" name="no_of_months">
						    <option value="1">1 Month</option>
						    <option value="3">3 Months</option>
						    <option value="6">6 Months</option>
						    <option value="12">1 Year</option>
						    <option value="24">2 Years</option>
						</select>


					</td>
		            <td></td> 
		          </tr>

		          <tr>  
		            <td></td>  
		            <td>

		            	<button class="btn btn-primary btn-large btn-block" input type = "submit" value="Book Now">Book Now</button></td>
		            <td></td> 
		          </tr>
		         </form >
		        </tbody>  
			</table>  
	    </div>
	</div><br/><br/><!--DIV for container ends -->
	<!-- Image and book now ends here -->

	<!--Desctiption Starts-->
	<div class="container"><!--DIV for container starts here -->
			<div class="col-md-12">		
				<h4>Desctiption</h4><br/>
				<p><%= @space_detail.description %></p>		
			</div>
	</div> <!--DIV for container ends -->
	<!--Description ends here-->
<hr><hr>



<div class="container">
	<h4>Nearby locations</h4>
	<ul>
	<% for list_space in @space_detail.nearbys(50) %>
	  <li>
	  	<%= link_to list_space.address, list_space %> (<%= list_space.distance.round(2) %> miles)
	  	<!--<%#= link_to (list_space.address), :controller=>"gallery",:action=>"detail",:id=>space.id %> (<%#= list_space.distance.round(2) %> miles)-->
	  </li>
	<% end %>
	</ul>
</div>
